<!doctype html>
<html lang="en">
  <head>
    <title>Ruggedian Lifestyle Pvt. Ltd</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">

    <link rel="stylesheet" href="/assets/animate.css">
    <link rel="stylesheet" href="/assets/owl.carousel.min.css">

    <!--<link rel="stylesheet" href="/assets/ionicons.min.css">-->
    <script src="https://unpkg.com/ionicons@4.4.6/dist/ionicons.js"></script>
    <link rel="stylesheet" href="/assets/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- Theme Style -->
    <link rel="stylesheet" href="/assets/style.css">

  </head>
  <body>
    
    <header role="banner">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container"><a class="navbar-brand " href="/">Ruggedian</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample05">
            <ul class="navbar-nav pl-md-5">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="media">media</a>
              </li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="rorpage" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Events</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                  <a class="dropdown-item" href="rorpage">Ruggedian Obstacle Run</a>
                  <a class="dropdown-item" href="rorpage">Kolhapur Ultra Marathon</a>
                  <a class="dropdown-item" href="rorpage">Rugged Sahayadri Run</a>
                  <a class="dropdown-item" href="rorpage">Others</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="store">Store</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="contact">Contact</a>
              </li>
            </ul>

            <ul class="navbar-nav ml-auto">
             
              <button onclick="popup('ruggedian-kolhapur-run-2019-ultra-marathon-123041');" class="btn btn-primary px-3 py-2">Register Now</button><noscript id="tsNoJsMsg">Javascript on your browser is not enabled.</noscript><script src="//www.townscript.com/popup-widget/townscript-widget.nocache.js" type="text/javascript"></script>
              
          
            </ul>
            
          </div>
        </div>
      </nav>
    </header>
    <!-- END header -->
    
    <section class="home-slider inner-page owl-carousel">
      <div class="slider-item" style="background-image: url('https://www.kolhapurrun.com/images/B0.jpg');">
        
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-8 text-center col-sm-12 element-animate">
              <h1>Contact Us</h1>
              <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- END slider -->

    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mb-5 order-2">
            <form action="#" method="post">
              <div class="row">
                <div class="col-md-6 form-group">
                  <label for="name">Name</label>
                  <input type="text" id="name" class="form-control ">
                </div>
                <div class="col-md-6 form-group">
                  <label for="phone">Phone</label>
                  <input type="text" id="phone" class="form-control ">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="email">Email</label>
                  <input type="email" id="email" class="form-control ">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="message">Write Message</label>
                  <textarea name="message" id="message" class="form-control " cols="30" rows="8"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="submit" value="Send Message" class="btn btn-primary px-3 py-3">
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-6 order-2 mb-5">
            <div class="row justify-content-right">
              <div class="col-md-8 mx-auto contact-form-contact-info">
                <p class="d-flex">
                  <span class="ion-ios-location icon mr-5"></span>
                  <span>Ruggedian Lifestyle Pvt. ltd,S-2,Sej Plaza, Marve Road,Near SV Road Junction, Malad (West), Mumbai-400064, Maharashtra, India</span>
                </p>

                <p class="d-flex">
                  <span class="ion-ios-telephone icon mr-5"></span>
                  <span>022-49051111</span>
                </p>

                <p class="d-flex">
                  <span class="ion-android-mail icon mr-5"></span>
                  <span>events@ruggedian.com</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    

    

    <footer class="site-footer" role="contentinfo">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4 mb-5">
            <h3>A Little About Us</h3>
            <p class="mb-5">Ruggedian is the ultimate lifestyle sports community, synonymous with thrill, excitement and adventure. Ruggedians are RESOLUTE, VEHEMENT and STOUT, always sweating it out. They are born to turn obstacles into life’s next stepping stone and keep moving ahead. #Strong Breed</p>
            <ul class="list-unstyled footer-link d-flex footer-social">
             <li><a href="https://twitter.com/ruggedian?lang=en" class="p-2"><i class="fab fa-twitter"></i></a></li>
              <li><a href="https://www.facebook.com/theruggedian/" class="p-2"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="https://www.linkedin.com/company/ruggedian/about/" class="p-2"><i class="fab fa-linkedin-in"></i></a></li>
              <li><a href="https://www.instagram.com/ruggedian/" class="p-2"><i class="fab fa-instagram"></i></a></li>
             </ul>

          </div>
          <div class="col-md-5 mb-5 pl-md-5">
            <h3>Contact Info</h3>
            <ul class="list-unstyled footer-link">
              <li class="d-block">
                <span class="d-block">Address:</span>
                <span class="text-white">Ruggedian Lifestyle Pvt. ltd, S-2,Sej Plaza, Marve Road,Near SV Road Junction, Malad (West), Mumbai-400064, Maharashtra, India</span></li>
              <li class="d-block"><span class="d-block">Telephone:</span><span class="text-white">022-49051111</span></li>
              <li class="d-block"><span class="d-block">Email:</span><span class="text-white">events@Ruggedian.com</span></li>
            </ul>
          </div>
          <div class="col-md-3 mb-5">
            <h3>Quick Links</h3>
            <ul class="list-unstyled footer-link">
              <li><a href="/about">About</a></li>
              <li><a href="#">Terms of Use</a></li>
              <li><a href="#">Disclaimers</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-3">
          
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-md-center text-left">
            <p>&copy; Ruggedian Lifestyle Pvt. Ltd. 2018 All Rights Reserved.  <br> Designed &amp; Developed by <a href="https://free-template.co/" target="_blank">Ruggedian</a></p>
          </div>
        </div>
      </div>
    </footer>
    <!-- END footer -->

    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>

    <script src="/assets/jquery-3.2.1.min.js"></script>
    <script src="/assets/popper.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/owl.carousel.min.js"></script>
    <script src="/assets/jquery.waypoints.min.js"></script>
    <script src="/assets/main.js"></script>
  </body>
</html>