<!doctype html>
<html lang="en">
  <head>
    <title>Ruggedian</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">

    <link rel="stylesheet" href="/assets/animate.css">
    <link rel="stylesheet" href="/assets/owl.carousel.min.css">

    <!--<link rel="stylesheet" href="/assets/ionicons.min.css">-->
    <script src="https://unpkg.com/ionicons@4.4.6/dist/ionicons.js"></script>
    <link rel="stylesheet" href="/assets/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- Theme Style -->
    <link rel="stylesheet" href="/assets/style.css">

    
  </head>
  <body>
    
    <header role="banner">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container"><a class="navbar-brand " href="/">Ruggedian</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample05">
            <ul class="navbar-nav pl-md-5">
              <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="media">Media</a>
              </li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="rorpage" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Events</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                  <a class="dropdown-item" href="rorpage">Ruggedian Obstacle Run</a>
                  <a class="dropdown-item" href="rorpage">Kolhapur Ultra Marathon</a>
                  <a class="dropdown-item" href="rorpage">Rugged Sahayadri Run</a>
                  <a class="dropdown-item" href="rorpage">Others</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="store">Store</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact">Contact</a>
              </li>
            </ul>

            <ul class="navbar-nav ml-auto">
             
              <button onclick="popup('ruggedian-kolhapur-run-2019-ultra-marathon-123041');" class="btn btn-primary px-3 py-2">Register Now</button><noscript id="tsNoJsMsg">Javascript on your browser is not enabled.</noscript><script src="//www.townscript.com/popup-widget/townscript-widget.nocache.js" type="text/javascript"></script>
              
          
            </ul>
            
          </div>
        </div>
      </nav>
    </header>
    <!-- END header -->
	  
		  
    <section class="home-slider owl-carousel">
      <div class="slider-item" style="background-image: url('https://www.kolhapurrun.com/images/B0.jpg');">
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-10 text-center col-sm-12 element-animate">
              <h1>Ruggedian Obstacle Run</h1>
              <p class="mb-5 sub-text">This December get ready for Asia's biggest obstacle race, like you have never seen before</p>
              <p><a href="#" class="btn btn-white btn-outline-white px-3 py-3">Past Events</a> <a href="https://goo.gl/CBPGhd" class="btn btn-link btn-white">Brochure</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="slider-item" style="background-image: url('https://www.kolhapurrun.com/images/B9.jpg');">
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-10 text-center col-sm-12 element-animate">
              <h1><strong>Kolhapur Run</strong></h1>
              <p class="mb-5 sub-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>
              <p><a href="#" class="btn btn-white btn-outline-white px-3 py-3">Past Events</a> <a href="#" class="btn btn-link btn-white">Brochure</a></p>
            </div>
          </div>
        </div>
        
      </div>

    </section>
    <!-- END slider -->
    
    <section class="section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 element-animate ">
            <div class="media block-6 d-block text-center">
              <!--<div class="icon mb-3"><i class=""></i></div>-->
              <span style="font-size: 40px">
              <i class="fas fa-fire"></i>
              </span>
              <div class="media-body">
                <h3 class="heading">LIT.</h3>
                <p>Our events are LIT. Don't believe us?</p>
                <p>Take part and see it yourself!</p>
              </div>
            </div>  

          </div>
          <div class="col-md-6 col-lg-4 element-animate ">
            <div class="media block-6 d-block text-center">
              <!--<div class="ion-icon mb-3"> <ion-icon ios="ios-bicycle" md="md-bicycle"></ion-icon></div>-->
              <span style="font-size: 40px">
                            <i class="fas fa-bicycle"></i>
              </span>
             

              <div class="media-body">
                <h3 class="heading">Adventure events</h3>
                <p>Organising Fun, Exciting and Adventurous events all year round</p>
              </div>
            </div> 

          </div>
          <div class="col-md-6 col-lg-4 element-animate ">
            <div class="media block-6 d-block text-center">
              <!--<div class="ion-icon mb-3"><ion-icon ios="ios-infinite" md="md-infinite"></ion-icon></div> -->
              <span style="font-size: 40px">
                            <i class="fas fa-infinity"></i>
              </span>
             
              <div class="media-body">
                <h3 class="heading">Fitness For All</h3>
                <p>There is no age limit for being fit, and that is what out company promotes. Fitness for all age groups. </p>
              </div>
            </div> 

          </div>
        </div>
      </div>
    </section>
    <!-- END section -->
    <section class="section element-animate">
      <div class="container">
        <div class="row align-items-center mb-5">
          <div class="col-md-5 pr-md-5 mb-5">
            <div class="block-41">
              <div class="block-41-subheading d-flex">
                <div class="block-41-number">01</div>
                <div class="block-41-line align-self-center mx-2"></div>
                <div class="block-41-subheading-2">Obstacle Run</div>
              </div>
              <h2 class="block-41-heading mb-5">Ruggedian Obstacle Run</h2>
              <div class="block-41-text">
                <p>Throw away your inhibitions and fears and get ready to be dirty, sweaty and proud of yourself as you win this one! Coz this time, the run is against your own self! So gear up to get #SweatRugged!</p>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <img src="https://scontent-lga3-1.cdninstagram.com/vp/f193344159b6532efe357d5aa4babd84/5C79EFAC/t51.2885-15/sh0.08/e35/s750x750/27576068_212005882709735_3998240138801971200_n.jpg?ig_cache_key=MTcxMTQ3NjE0Mzg4ODkzNTYzNA%3D%3D.2" alt="Placeholder" class="img-fluid">
          </div>
        </div>
      </div>
    </section>

    <section class="section element-animate bg-light">
      <div class="container">
        <div class="row align-items-center mb-5">
          <div class="col-md-5 pl-md-5 mb-5 order-md-2">
            <div class="block-41">
              <div class="block-41-subheading d-flex">
                <div class="block-41-number">02</div>
                <div class="block-41-line align-self-center mx-2"></div>
                <div class="block-41-subheading-2">Ultra Marathon</div>
              </div>
              <h2 class="block-41-heading mb-5">Kolhapur Ultra Marathon</h2>
              <div class="block-41-text">
                <p>Be a part of the 15,000+ participants in the culture rich kolhapur city</p>
              </div>
            </div>
          </div>
          <div class="col-md-7 order-md-1">
            <img src="https://scontent-lga3-1.cdninstagram.com/vp/7c553a1eaabc14933340e1440b4db9d9/5C8C5F35/t51.2885-15/sh0.08/e35/s750x750/26870471_140600073302974_3165522125582761984_n.jpg?ig_cache_key=MTcwNzE4MDA4NjU0NDA2MDkxMw%3D%3D.2" alt="Placeholder" class="img-fluid">
          </div>
        </div>
      </div>
    </section>

     <section class="section element-animate">
      <div class="container">
        <div class="row align-items-center mb-5">
          <div class="col-md-5 pr-md-5 mb-5">
            <div class="block-41">
              <div class="block-41-subheading d-flex">
                <div class="block-41-number">03</div>
                <div class="block-41-line align-self-center mx-2"></div>
                <div class="block-41-subheading-2">Trail Run</div>
              </div>
              <h2 class="block-41-heading mb-5">Rugged Sahayadri</h2>
              <div class="block-41-text">
                <p>Exciting times ahead! Buckle up for the toughest, enthralling and self-supported Rugged Sahyadri trail race, with no volunteers to extend you that bottle of glucose or pat your back at regular intervals. Rugged Sahyadri encourages you to be the champion of self-motivation and traverse on. Pack your own backpack with a day’s supplies, and set on a venturous and pulchritudinous trail, boosting the adrenaline rush factor.</p>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <img src="https://res.cloudinary.com/threemindsdigitial/image/upload/c_fill,q_100/v1/3md/case_studies/rugged-sahyadri/2.jpg" alt="Placeholder" class="img-fluid">
          </div>
        </div>
      </div>
    </section>

    <section class="section border-t pb-0">
      <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
          <div class="col-md-8 text-center">
            <h2 class=" heading mb-4">Other Events Conducted by us</h2>
            <p class="mb-5 lead">We have a number of other events which we conduct.</p>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row no-gutters">
          <div class="col-md-4 element-animate">
            <a href="/rorpage" class="link-thumbnail">
              <h3>Adventure Carnival</h3>
              <span class="ion-plus icon"></span>
              <img src="https://images.unsplash.com/photo-1530177245316-034d99cd7b4b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=32ef7c3651656cef40fcb239bb9a8eb6&auto=format&fit=crop&w=1267&q=80" alt="Ruggedian Lifestyle Pvt. Ltd." class="img-fluid">
            </a>
          </div>
          <div class="col-md-4 element-animate">
            <a href="rorpage" class="link-thumbnail">
              <h3>Night Trek</h3>
              <span class="ion-plus icon"></span>
              <img src="https://images.unsplash.com/photo-1457470572216-1240fac24b37?ixlib=rb-0.3.5&s=5218548840dea1ac14b581b891515c68&auto=format&fit=crop&w=1350&q=80" alt="Ruggedian Lifestyle Pvt. Ltd." class="img-fluid">
            </a>
          </div>
          <div class="col-md-4 element-animate">
            <a href="rorpage" class="link-thumbnail">
              <h3>Ruggedian Off Road Biking</h3>
              <span class="ion-plus icon"></span>
              <img src="https://images.unsplash.com/photo-1531410828623-a21e67dae762?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d5809244c92feb9a2e2d9003080b6200&auto=format&fit=crop&w=1271&q=80" alt="Ruggedian Lifestyle Pvt. Ltd." class="img-fluid">
            </a>
          </div>
          <div class="col-md-4 element-animate">
            <a href="rorpage" class="link-thumbnail">
              <h3>Midnight Cycle Ride</h3>
              <span class="ion-plus icon"></span>
              <img src="https://images.unsplash.com/photo-1505484123437-c4ecb3e13bef?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4ac2825c70ef585032c5c3f01cd83981&auto=format&fit=crop&w=1350&q=80" alt="Ruggedian Lifestyle Pvt. Ltd." class="img-fluid">
            </a>
          </div>
          <div class="col-md-4 element-animate">
            <a href="rorpage" class="link-thumbnail">
              <h3>First Sunday of Month </h3>
              <span class="ion-plus icon"></span>
              <img src="https://images.unsplash.com/photo-1489976908522-aabacf277f49?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6e270336a58bd4d218545db9b471d7f1&auto=format&fit=crop&w=1350&q=80" alt="Ruggedian Lifestyle Pvt. Ltd." class="img-fluid">
            </a>
          </div>
          <div class="col-md-4 element-animate">
            <a href="rorpage" class="link-thumbnail">
              <h3>Mr Maharashtra Body Building Competition</h3>
              <span class="ion-plus icon"></span>
              <img src="https://images.unsplash.com/photo-1499871435582-a1d4ff236842?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3ba5140446c5402fc7476bbe5adaa204&auto=format&fit=crop&w=1350&q=80" alt="Ruggedian Lifestyle Pvt. Ltd." class="img-fluid">
            </a>
          </div>
        </div>
        
      </div>
    </section>
    <!-- END section -->

    <section class="section bg-light block-11">
      <div class="container"> 
        <div class="row justify-content-center mb-5">
          <div class="col-md-8 text-center">
            <h2 class=" heading mb-4">Testimonial</h2>
            <p class="mb-5 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>
          </div>
        </div>
        <div class="nonloop-block-11 owl-carousel">
          <div class="item">
            <div class="block-33">
                <div class="vcard d-flex mb-3">
                  <div class="image align-self-center"><img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="Person here"></div>
                  <div class="name-text align-self-center">
                    <h2 class="heading">John Smith</h2>
                    <span class="meta">Ruggedian Client</span>
                  </div>
                </div>
                <div class="text">
                  <blockquote>
                    <p>&rdquo; Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga aliquid. Atque dolore esse veritatis iusto eaque perferendis non dolorem fugiat voluptatibus vitae error ad itaque inventore accusantium tempore dolores sunt. &ldquo;</p>
                  </blockquote>
                </div>
              </div>
          </div>

          <div class="item">
            <div class="block-33">
                <div class="vcard d-flex mb-3">
                  <div class="image align-self-center"><img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="Person here"></div>
                  <div class="name-text align-self-center">
                    <h2 class="heading">Joshua Darren</h2>
                    <span class="meta">Ruggedian Client</span>
                  </div>
                </div>
                <div class="text">
                  <blockquote>
                    <p>&rdquo; Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga aliquid. Atque dolore esse veritatis iusto eaque perferendis non dolorem fugiat voluptatibus vitae error ad itaque inventore accusantium tempore dolores sunt. &ldquo;</p>
                  </blockquote>
                </div>
              </div>
          </div>

          <div class="item">
            <div class="block-33">
                <div class="vcard d-flex mb-3">
                  <div class="image align-self-center"><img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="Person here"></div>
                  <div class="name-text align-self-center">
                    <h2 class="heading">John Smith</h2>
                    <span class="meta">Ruggedian Client</span>
                  </div>
                </div>
                <div class="text">
                  <blockquote>
                    <p>&rdquo; Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga aliquid. Atque dolore esse veritatis iusto eaque perferendis non dolorem fugiat voluptatibus vitae error ad itaque inventore accusantium tempore dolores sunt. &ldquo;</p>
                  </blockquote>
                </div>
              </div>
          </div>

          <div class="item">
            <div class="block-33">
                <div class="vcard d-flex mb-3">
                  <div class="image align-self-center"><img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="Person here"></div>
                  <div class="name-text align-self-center">
                    <h2 class="heading">John Smith</h2>
                    <span class="meta">Ruggedian Client</span>
                  </div>
                </div>
                <div class="text">
                  <blockquote>
                    <p>&rdquo; Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga aliquid. Atque dolore esse veritatis iusto eaque perferendis non dolorem fugiat voluptatibus vitae error ad itaque inventore accusantium tempore dolores sunt. &ldquo;</p>
                  </blockquote>
                </div>
              </div>
          </div>
        </div>
      </div>
    <!-- END .block-4 -->
    </section>

    <section class="section blog">
      <div class="container">

        <div class="row justify-content-center mb-5 element-animate">
          <div class="col-md-8 text-center">
            <h2 class=" heading mb-4">Blog Posts</h2>
            <p class="mb-5 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">

            <div class="media mb-4 d-md-flex d-block element-animate">
              <a href="#" class="mr-5"><img src="https://ruggedian.com/wp-content/uploads/2018/05/30740997_1014447348732866_893041013575122944_n-960x480.jpg" alt="Placeholder image" class="img-fluid"></a>
              <div class="media-body">
                <span class="post-meta">Feb 26th, 2018</span>
                <h3 class="mt-2 text-black"><a href="/media">Media article 1</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam minus ipsa earum nemo consectetur cupiditate necessitatibus suscipit assumenda perspiciatis provident.</p>
                <p><a href="/media" class="btn btn-primary btn-sm">Read more</a></p>
              </div>
            </div>



          </div>
          <div class="col-md-6">
            <div class="media mb-4 d-md-flex d-block element-animate">
              <a href="#" class="mr-5"><img src="https://storage.googleapis.com/hft-uat/2018/05/533af89c-running-on-wet-tracks-on-a-foggy-day-500x360.jpg" alt="Placeholder image" class="img-fluid"></a>
              <div class="media-body">
                <span class="post-meta">Feb 26th, 2018</span>
                <h3 class="mt-2 text-black"><a href="#">Media article 2</a></h3>
                <p><a href="/media" class="btn btn-primary btn-sm">Read more</a></p>
              </div>
            </div>

            <div class="media mb-4 d-md-flex d-block element-animate">
              <a href="#" class="mr-5"><img src="https://ruggedian.com/wp-content/uploads/2018/05/sports.png" alt="Placeholder image" class="img-fluid"></a>
              <div class="media-body">
                <span class="post-meta">Feb 26th, 2018</span>
                <h3 class="mt-2 text-black"><a href="#">Media article 3</a></h3>
                <p><a href="/media" class="btn btn-primary btn-sm">Read more</a></p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <footer class="site-footer" role="contentinfo">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4 mb-5">
            <h3>A Little About Us</h3>
            <p class="mb-5">Ruggedian is the ultimate lifestyle sports community, synonymous with thrill, excitement and adventure. Ruggedians are RESOLUTE, VEHEMENT and STOUT, always sweating it out. They are born to turn obstacles into life’s next stepping stone and keep moving ahead. #Strong Breed</p>
            <ul class="list-unstyled footer-link d-flex footer-social">
             <li><a href="https://twitter.com/ruggedian?lang=en" class="p-2"><i class="fab fa-twitter"></i></a></li>
              <li><a href="https://www.facebook.com/theruggedian/" class="p-2"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="https://www.linkedin.com/company/ruggedian/about/" class="p-2"><i class="fab fa-linkedin-in"></i></a></li>
              <li><a href="https://www.instagram.com/ruggedian/" class="p-2"><i class="fab fa-instagram"></i></a></li>
             </ul>

          </div>
          <div class="col-md-5 mb-5 pl-md-5">
            <h3>Contact Info</h3>
            <ul class="list-unstyled footer-link">
              <li class="d-block">
                <span class="d-block">Address:</span>
                <span class="text-white">Ruggedian Lifestyle Pvt. ltd, S-2,Sej Plaza, Marve Road,Near SV Road Junction, Malad (West), Mumbai-400064, Maharashtra, India</span></li>
              <li class="d-block"><span class="d-block">Telephone:</span><span class="text-white">022-49051111</span></li>
              <li class="d-block"><span class="d-block">Email:</span><span class="text-white">events@Ruggedian.com</span></li>
            </ul>
          </div>
          <div class="col-md-3 mb-5">
            <h3>Quick Links</h3>
            <ul class="list-unstyled footer-link">
              <li><a href="/about">About</a></li>
              <li><a href="#">Terms of Use</a></li>
              <li><a href="#">Disclaimers</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-3">
          
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-md-center text-left">
            <p>&copy; Ruggedian Lifestyle Pvt. Ltd. 2018 All Rights Reserved.  <br> Designed &amp; Developed by <a href="https://free-template.co/" target="_blank">Ruggedian</a></p>
          </div>
        </div>
      </div>
    </footer>
    <!-- END footer -->

    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>

    <script src="/assets/jquery-3.2.1.min.js"></script>
    <script src="/assets/popper.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/owl.carousel.min.js"></script>
    <script src="/assets/jquery.waypoints.min.js"></script>
    <script src="/assets/main.js"></script>
  </body>
</html>